Source: ros-kinetic-baldor
Section: misc
Priority: extra
Maintainer: Francisco Suarez-Ruiz <fsuarez6@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://wiki.ros.org/baldor
Standards-Version: 3.9.2

Package: ros-kinetic-baldor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-numpy
Description: The baldor package
